# Day 3

### Use of Ternary Operator

In [ ]:
a , b = 10 , 20
max = a if a > b else b
print(max)

20

### Membership Operators in Python

In [5]:
x = int(input("Enter value of x : "))
y = int(input("Enter value of y : "))
list = [10 , 20 , 30 , 40 , 50]
if (x not in list):
  print("x is NOT present in the given List")
else:
  print("x is present in the given list")

if(y in list):
  print("y is present in the given list")
else:
  print("y is not present in the given list")

Enter value of x : 60
Enter value of y : 40
x is NOT present in the given List
y is present in the given list

### Operators Precedence in Python

In [ ]:
expr = 10 + 20*30
print(expr)
name = "Navdeep"
age = 18
if name == "Navdeep" or name == "Kanish":
    print("Hello Welcome")
else:
    print("Good Bye")
if name == "Navdeep" and name == "Kanish":
    print("Hello Welcome")
else:
    print("Good Bye")
if name == "Navdeep" or name == "Kanish" and age >=18:
    print("Hello Welcome")
else:
    print("Good Bye")

610
Hello Welcome
Good Bye
Hello Welcome

### Operator Associativity in Python

In [ ]:
print(100/15*10)
print(45-5+15)
print(85-(25+34))
print(3**2**4)

#### Ques 1 - Write a difference between '=' & '==' with example.

In [ ]:
# = (Assignment Operator) - used to assign a value to a variable
# ==(Equality Operator) - Used to compare two values to check if they are equal.

x = 5 # Assigns the value 5 to variable x

#  Using '==' to compare values
if x == 5:
  print("x is equal to 5")
else:
  print("x is not equal to 5")

x is equal to 5

#### Ques 2 - Write a example of membership Operator

In [ ]:
fruits = ["apple" , "banana" , "cherry"]
if "banana" in fruits:
  print("banana is in the list")
else:
  print("banana is not in the list")

banana is in the list

#### Ques 3 - Write a code of area of equilateral triangle .

In [ ]:
sqrt_3 = 1.732
side = float(input("Enter the length of a side: "))
area = (sqrt_3 * (side ** 2))/4
print("The area of the equilateral triangle is:", area)

Enter the length of a side: 5
The area of the equilateral triangle is: 10.825

#### Ques 4 - Write a Code of area of Rhombus .

In [ ]:
d1 = float(input("Enter the length of the first diagonal: "))
d2 = float(input("Enter the length of the second diagonal: "))
area = (d1 * d2)/2
print("The area of the rhombus is:", area)

Enter the length of the first diagonal: 8
Enter the length of the second diagonal: 6
The area of the rhombus is: 24.0

#### Ques 5 - Write a code of comparing three numbers and display the largest middle and smallest

In [ ]:
a = float(input("Enter first number: "))
b = float(input("Enter second number: "))
c = float(input("Enter third number: "))

# Find largest
if a >= b and a >= c:
    largest = a
    if b >= c:
        middle = b
        smallest = c
    else:
        middle = c
        smallest = b
elif b >= a and b >= c:
    largest = b
    if a >= c:
        middle = a
        smallest = c
    else:
        middle = c
        smallest = a
else:
    largest = c
    if a >= b:
        middle = a
        smallest = b
    else:
        middle = b
        smallest = a

# Display the result
print(f"Largest number: {largest}")
print(f"Middle number: {middle}")
print(f"Smallest number: {smallest}")

Enter first number: 45
Enter second number: 856
Enter third number: 2569
Largest number: 2569.0
Middle number: 856.0
Smallest number: 45.0

#### Ques 6 - Write a code of comparing 2 students with their details like name , course name , college name , email id , roll no .

In [3]:
def input_student_details(student_number):
    print(f"\nEnter details for Student {student_number}:")
    student = {
        'Name': input("Name: "),
        'Course Name': input("Course Name: "),
        'College Name': input("College Name: "),
        'Email ID': input("Email ID: "),
        'Roll Number': input("Roll Number: ")
    }
    return student

def display_student_details(student, number):
    print(f"\n--- Student {number} Details ---")
    for key, value in student.items():
        print(f"{key:12}: {value}")
    print("-" * 30)

student1 = input_student_details(1)
student2 = input_student_details(2)

display_student_details(student1, 1)
display_student_details(student2, 2)

# Compare selected fields (example: roll number, course, college)
print("\n--- Comparison Results ---")
if student1['Roll Number'] == student2['Roll Number']:
    print("Both students have the same Roll Number.")
else:
    print("Students have different Roll Numbers.")

if student1['Course Name'] == student2['Course Name']:
    print("Both students are enrolled in the same course.")
else:
    print("Students are enrolled in different courses.")

if student1['College Name'] == student2['College Name']:
    print("Both students belong to the same college.")
else:
    print("Students are from different colleges.")

Enter details for Student 1:
Name: Navdeep
Course Name: B-tech Aids
College Name: WCTM
Email ID: navdeep@gmail.com
Roll Number: 241080

Enter details for Student 2:
Name: Bharti
Course Name: B-tech Aids
College Name: WCTM
Email ID: bharti@gmail.com
Roll Number: 240234

--- Student 1 Details ---
Name        : Navdeep
Course Name : B-tech Aids
College Name: WCTM
Email ID    : navdeep@gmail.com
Roll Number : 241080
------------------------------

--- Student 2 Details ---
Name        : Bharti
Course Name : B-tech Aids
College Name: WCTM
Email ID    : bharti@gmail.com
Roll Number : 240234
------------------------------

--- Comparison Results ---
Students have different Roll Numbers.
Both students are enrolled in the same course.
Both students belong to the same college.

#### Ques 7 - Write a code of listing the 10 students details with predefined the details in the code.

In [1]:
# Define a list of 10 students with their details
students = [
    {"id": 1, "name": "Navdeep", "age": 20, "grade": "A", "email": "navdeep@example.com"},
    {"id": 2, "name": "Bharti", "age": 21, "grade": "B", "email": "bharti@example.com"},
    {"id": 3, "name": "Siddhant", "age": 19, "grade": "A-", "email": "siddhant@example.com"},
    {"id": 4, "name": "Payal", "age": 22, "grade": "B+", "email": "payal@example.com"},
    {"id": 5, "name": "Hariom", "age": 20, "grade": "A", "email": "hariom@example.com"},
    {"id": 6, "name": "Shubham", "age": 21, "grade": "C+", "email": "shubham@example.com"},
    {"id": 7, "name": "Aditya", "age": 19, "grade": "B", "email": "aditya@example.com"},
    {"id": 8, "name": "Hannah Baker", "age": 20, "grade": "A-", "email": "hannah@example.com"},
    {"id": 9, "name": "Hammad", "age": 22, "grade": "B+", "email": "hammad@example.com"},
    {"id": 10, "name": "Mike", "age": 21, "grade": "A", "email": "mike@example.com"}
]

# Print header
print("{:<5} {:<20} {:<5} {:<5} {:<20}".format("ID", "Name", "Age", "Grade", "Email"))
print("="*60)  # everything properly in the Tabular form.


# Print each student's details
for student in students:
    print("{:<5} {:<20} {:<5} {:<5} {:<20}".format(
        student["id"],
        student["name"],
        student["age"],
        student["grade"],
        student["email"]
    ))

ID    Name                 Age   Grade Email
============================================================
1     Navdeep              20    A     navdeep@example.com
2     Bharti               21    B     bharti@example.com
3     Siddhant             19    A-    siddhant@example.com
4     Payal                22    B+    payal@example.com
5     Hariom               20    A     hariom@example.com
6     Shubham              21    C+    shubham@example.com
7     Aditya               19    B     aditya@example.com
8     Hannah Baker         20    A-    hannah@example.com
9     Hammad               22    B+    hammad@example.com
10    Mike                 21    A     mike@example.com

#### Ques 8 - Write a code of using if else statement with while loop with example and also defination of all 3

In [4]:
# Function to check if a number is positive, negative, or zero
def check_number(num):
    if num > 0:
        return "Positive"
    elif num < 0:
        return "Negative"
    else:
        return "Zero"

# Using a while loop to repeatedly ask for user input
while True:
    user_input = input("Enter a number (or 'quit' to exit): ")

    # Check if the user wants to quit
    if user_input.lower() == 'quit':
        print("Exiting the program...")
        break  # Exit the loop

    # Check if the input is a valid number
    if user_input.isdigit() or (user_input.startswith('-') and user_input[1:].isdigit()):
        number = int(user_input)
        result = check_number(number)  # Call the function
        print(f"The number {number} is {result}.")
    else:
        print("Invalid input! Please enter a number or 'quit'.")

Enter a number (or 'quit' to exit): 46
The number 46 is Positive.
Enter a number (or 'quit' to exit): quit
Exiting the program...

#### Ques 9 - Write a code like social media id password whether check the id password in this and display three name if the person is authentic

In [2]:
students = [
    {"Name": "Navdeep",    "Course": "BCA",  "College": "ABC College", "Email": "navdeep@example.com",    "Roll No": "101"},
    {"Name": "Bharti",      "Course": "BSc",  "College": "XYZ College", "Email": "bharti@example.com",      "Roll No": "102"},
    {"Name": "Siddhant",  "Course": "BA",   "College": "LMN College", "Email": "siddhant@example.com",  "Roll No": "103"},
    {"Name": "Payal",    "Course": "BCom", "College": "ABC College", "Email": "payal@example.com",    "Roll No": "104"},
    {"Name": "Hariom",      "Course": "BCA",  "College": "XYZ College", "Email": "hariom@example.com",      "Roll No": "105"},
    {"Name": "Shubham",    "Course": "BSc",  "College": "LMN College", "Email": "shubham@example.com",    "Roll No": "106"},
    {"Name": "Anshika",    "Course": "BA",   "College": "ABC College", "Email": "anshika@example.com",    "Roll No": "107"},
    {"Name": "Hammad",    "Course": "BCom", "College": "XYZ College", "Email": "hammad@example.com",    "Roll No": "108"},
    {"Name": "Aditya",      "Course": "BCA",  "College": "LMN College", "Email": "aditya@example.com",      "Roll No": "109"},
    {"Name": "Mike",     "Course": "BSc",  "College": "ABC College", "Email": "mike@example.com",     "Roll No": "110"}
]

# Print details of each student
for i, student in enumerate(students, start=1):
    print(f"--- Student {i} Details ---")
    print(f"Name       : {student['Name']}")
    print(f"Course     : {student['Course']}")
    print(f"College    : {student['College']}")
    print(f"Email ID   : {student['Email']}")
    print(f"Roll Number: {student['Roll No']}")
    print("-" * 30)

--- Student 1 Details ---
Name       : Navdeep
Course     : BCA
College    : ABC College
Email ID   : navdeep@example.com
Roll Number: 101
------------------------------
--- Student 2 Details ---
Name       : Bharti
Course     : BSc
College    : XYZ College
Email ID   : bharti@example.com
Roll Number: 102
------------------------------
--- Student 3 Details ---
Name       : Siddhant
Course     : BA
College    : LMN College
Email ID   : siddhant@example.com
Roll Number: 103
------------------------------
--- Student 4 Details ---
Name       : Payal
Course     : BCom
College    : ABC College
Email ID   : payal@example.com
Roll Number: 104
------------------------------
--- Student 5 Details ---
Name       : Hariom
Course     : BCA
College    : XYZ College
Email ID   : hariom@example.com
Roll Number: 105
------------------------------
--- Student 6 Details ---
Name       : Shubham
Course     : BSc
College    : LMN College
Email ID   : shubham@example.com
Roll Number: 106
------------------------------
--- Student 7 Details ---
Name       : Anshika
Course     : BA
College    : ABC College
Email ID   : anshika@example.com
Roll Number: 107
------------------------------
--- Student 8 Details ---
Name       : Hammad
Course     : BCom
College    : XYZ College
Email ID   : hammad@example.com
Roll Number: 108
------------------------------
--- Student 9 Details ---
Name       : Aditya
Course     : BCA
College    : LMN College
Email ID   : aditya@example.com
Roll Number: 109
------------------------------
--- Student 10 Details ---
Name       : Mike
Course     : BSc
College    : ABC College
Email ID   : mike@example.com
Roll Number: 110
------------------------------

#### Ques 10 - Write a code of making Calculator with diffrent cases of operators and with display result

In [6]:
def calculator():
    print("Simple Calculator")
    print("Available operators: +, -, *, /, %, **")

    # Input numbers and operator
    num1 = float(input("Enter first number: "))
    operator = input("Enter operator: ")
    num2 = float(input("Enter second number: "))

    if operator == '+':
        result = num1 + num2
    elif operator == '-':
        result = num1 - num2
    elif operator == '*':
        result = num1 * num2
    elif operator == '/':
        if num2 != 0:
            result = num1 / num2
        else:
            print("Error: Division by zero is not allowed.")
            return
    elif operator == '%':
        if num2 != 0:
            result = num1 % num2
        else:
            print("Error: Modulo by zero is not allowed.")
            return
    elif operator == '**':
        result = num1 ** num2
    else:
        print("Invalid operator!")
        return

    print(f"Result: {num1} {operator} {num2} = {result}")

# Run the calculator
calculator()

Simple Calculator
Available operators: +, -, *, /, %, **
Enter first number: 85
Enter operator: /
Enter second number: 54
Result: 85.0 / 54.0 = 1.5740740740740742

# List
#### - ordered - Maintains element order
#### - Mutable - Elements can be changed
#### - Methods - append , pop , sort


A list in Python is a collection of items that is ordered , mutable and can contain elements of diffrent data types(integers , strings , other lists , etc)

#### pop() - removes last element(or at given index)
#### sort() - sorts the list in place

#### Notes: -append() -> Add element,
pop() -> Removes element,
sort() -> Arrange in order

In [ ]:
my_list = [3 , 1 , 4]
my_list.append(2)

my_list.pop()
my_list.pop(0)

my_list.sort()

# Tuples:

#### -Orderd: Elements have a fixed order
#### -Immutable: Cannot be changed after creation
#### A tuple is a collection of items that is ordered and immutable.

#### Notes:
  ##### - use Parenthesis
  ##### - Unpacking allows assigning each item to a variable

In [ ]:
# Creating a tuple
my_tuple = (10 , 20 , 30)

# Accesing elements
print(my_tuple[1])

# Tuple Unpacking
a , b , c = my_tuple
print(a , b , c)

20
10 20 30

# Sets :
#### -Unorderd: No index or specific order
#### - NO Duplicates: Each element is Unique

A set is a built in data type in Python used to store unique Values.

### Examples :
#### -Creating Sets
#### -Union
#### -Intersection


### Notes:
#### - Use Curly braces{}
#### - Fast membership testing
#### - Use | for union, & for intersection

In [ ]:
# Creating sets
set_a = {1 , 2 , 3}
set_b = {3 , 4 , 5}

# Union
print(set_a | set_b)

# Intersection
print(set_a & set_b)

{1, 2, 3, 4, 5}
{3}

# Dictionaries:
#### - Stores data as a key-value pairs
#### - Unordered
#### - Keys are unique
#### - A dictionary is a collection of key value pairs used to store and retrieve data efficiently.
### Examples & Methods

student = {'name' : 'Navdeep' , 'age' : 20 , 'grade' : 'A'}


#### get() - safe way to access values
#### keys() - return all keys
#### values() - returns all values

#### Notes:
- Use {} to define a dictionary
- get() avoids KeyError
- keys() and values() return views

In [ ]:
student = {'name' : 'Navdeep' , 'age' : 20 , 'grade' : 'A'}
print(student.get('age'))
print(student.keys())
print(student.values())

20
dict_keys(['name', 'age', 'grade'])
dict_values(['Navdeep', 20, 'A'])

# Map , Filter , Reduce
- map() : Applies a function to all items in a sequence
- filter() : Filters items by condition
- reduce() : Applies a function cumulatively( needs 'functools')

#### Notes:
- map() and filter() returns iterators - converts to 'list()'.
- reduce() requires from functools import reduce
- Useful in data processing Pipelines

In [ ]:
from functools import reduce
nums = [1,2,3,4]
# map: square each number
squares = list(map(lambda x: x**2 , nums))
print(squares)
# filter: keep even numbers
evens = list(filter(lambda x: x%2 == 0 , nums))
print(evens)
# reduce: Sum all Numbers
total = reduce(lambda x , y : x + y , nums)
print(total)

[1, 4, 9, 16]
[2, 4]
10