# Day 2

Ques 1- Write a code of first 20 numbers?

In [ ]:
for i in range(1,21,1):
  print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

Ques 2 - Write a code of table of 5.

In [ ]:
i = 5
for k in range(1 , 11 , 1):
  print(i , '*' , k , ' = ' , i*k)

5 * 1  =  5
5 * 2  =  10
5 * 3  =  15
5 * 4  =  20
5 * 5  =  25
5 * 6  =  30
5 * 7  =  35
5 * 8  =  40
5 * 9  =  45
5 * 10  =  50

Ques 3 - Write a code to print vowels?

In [ ]:
string = input("Enter a string : ")
vowels = "AEIOUaeiou"

print("Vowels are : ")
for ch in string :
  if ch not in vowels:
    print(ch)

Enter a string : hello
Vowels are :
h
l
l

Ques 4 - Write a code to print area of rectangle?

In [ ]:
length = float(input("Enter Length :"))
breadth = float(input("Enter breadth :"))

area = length * breadth
print("Area of Rectangle = " , area)

Enter Length :3
Enter breadth :2
Area of Rectangle =  6.0

Ques 5 - Write a code to print area of circle? (area should be in decimals)

In [ ]:
radius = float(input("Enter Radius of circle"))
area = radius*radius
return("Area of Circle :" , area)

Enter Radius of circle4
Area of Circle : 16.0

Ques 6 - Write a code to print your name Course name , College name and email address?

In [ ]:
Name = input("Enter Name : ")
C_name = input ("Course Name : ")
College_Name = input("College Name : ")
E_Mail = input("ENter E mail : ")
print(Name)
print(C_name)
print(College_Name)
print(E_Mail)

Enter Name : Navdeep
Course Name : AI-DS
College Name : WCTM
ENter E mail : navdeepwctmcse
Navdeep
AI-DS
WCTM
navdeepwctmcse

Ques 7 - Write a code to print the all non vowel in a given string?(string is "I am a Student of WCTM")

In [ ]:
string = "I am a student of WCTM"
vowels = "AEIOUaeiou"
for ch in string:
  if ch not in vowels:
    print(ch)

m


s
t
d
n
t

f

W
C
T
M

Ques- 8 Write a code to display the defination of python with example?

In [ ]:
print("Python is a high-level, versatile, and interpreted programming language known for its readability and ease of use, making it popular for a wide range of applications.  ")

Python is a high-level, versatile, and interpreted programming language known for its readability and ease of use, making it popular for a wide range of applications.

Ques 9 Write a code to display the odd / even numbers

In [ ]:
n = int(input("Enter a number"))
if(n%2==0):
  print(n ," is a Even No.")
else:
  print(n , " is a Odd No.")

Enter a number45
45  is a Odd No.

Ques 10 Write a code to show the largest number? (user input parameter a , b)

In [ ]:
a = int(input("Enter First no."))
b = int(input("Enter second no."))

if(a>b):
  print(a , " is greater than " , b)
else:
  print(b , " is greater than " , a)

Enter First no.45
Enter second no.87
87  is greater than  45